<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- ツール -->
    <package id="7zip" />
    <package id="jdk8" />
    <package id="maven" />
    <package id="vagrant" />
    <package id="virtualbox" />
    <package id="GoogleChrome" />
    <package id="firefox" />
    <package id="Everything" />
    <package id="winmerge" />
    <package id="SublimeText3" />
    <package id="winscp" />
    <package id="teraterm" />
    <package id="mysql" />
    <package id="git" />
    <package id="tortoisegit" />
    <!-- エンタープライズ -->
    <package id="iTunes" />
    <package id="potplayer" />
</packages>