<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- ブラウザ -->
    <package id="GoogleChrome" />
    <package id="firefox" />
    <!-- エディター -->
    <package id="sublimetext3" />
    <package id="vscode" />
    <package id="vscode-markdownlint" />
    <!-- ツール -->
    <package id="7zip" />
    <package id="virtualbox" />
    <package id="vagrant" />
    <package id="packer" />
    <!-- 開発ツール -->
    <package id="jdk8" />
    <package id="Everything" />
    <package id="winmerge" />
    <package id="openssh" />
    <package id="Wget" />
    <package id="winscp" />
    <package id="teraterm" />
    <package id="git" />
    <package id="tortoisegit" />
    <package id="xmind" />
    <!-- Kubernetesツール -->
    <package id="minikube" />
    <package id="kubernetes-cli" />
    <package id="kubernetes-helm" />
    <!-- エンタープライズ -->
    <package id="iTunes" />
    <package id="potplayer" />
</packages>
